input{
    
    position: relative;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: .5em;
    margin-left: 0%;
    padding: .3em 0;
    height: 1.6em;
    border:1px solid white;
    padding:3px;
    width: 250px;
    

  }

.marge {
  margin-left: 0%;
  //margin-right: 15%
}  